{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "react"],
  "extends": ["react-app", "prettier"],
  "env": {
    "es2020": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "env": { "jest": true }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-plugin/recommended",
        "plugin:@typescript-eslint/eslint-plugin/eslint-recommended"
      ]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
