.counter {
  display: flex;
  align-items: center;
  color: #ff8c00;
}

.counter__label {
  width: 70px;
  font-size: 48px;
}

.counter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: #ff8c00;
  cursor: pointer;
  background: none;
  border: none;
  border: 2px solid transparent;
  outline: none;
  appearance: none;
}

.counter__button:focus {
  border: 2px solid rgba(255, 140, 0, 0.4);
}

.counter__button:active {
  background-color: rgba(255, 140, 0, 0.1);
}
