.counter {
  display: flex;
  align-items: center;
  color: var(--color-scale-orange);
}

.counter__label {
  width: 70px;
  font-size: 48px;
}

.counter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: var(--color-scale-orange);
  background: none;
  border: 2px solid transparent;
}

.counter__button:focus {
  border: 2px solid var(--color-btn-focus-border);
}

.counter__button:active {
  background-color: var(--color-btn-active-bg);
}
