@import './normalize.css';

:root {
  --color-scale-white: #ffffff;
  --color-scale-orange: #ff8c00;
  --color-scale-black: #000000;
  --color-scale-gray: #282c34;
  --color-btn-focus-border: rgba(255, 140, 0, 0.4);
  --color-btn-active-bg: rgba(255, 140, 0, 0.1);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
