*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: 0;
  outline: none;
}
