.page {
  height: 100%;
  min-height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--color-scale-black);
  text-align: center;
  background-color: var(--color-scale-white);
}

.hero__logo {
  height: 40vmin;
  pointer-events: none;
}

.hero__link {
  color: var(--color-scale-orange);
}

@media (prefers-color-scheme: dark) {
  .hero {
    color: var(--color-scale-white);
    background-color: var(--color-scale-gray);
  }
}
