.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #000;
  text-align: center;
  background-color: #fff;
}

.hero__logo {
  height: 40vmin;
  pointer-events: none;
}

.hero__link {
  color: #ff8c00;
}

@media (prefers-color-scheme: dark) {
  .hero {
    color: #fff;
    background-color: #282c34;
  }
}
